/* Setup Universal -----------------------------------------------------------------------------------------------> */
*{
    font-family: Poppins;
}

body{
    background-color: rgb(255, 255, 255);
    margin: 0;
    padding: 0;
}

.container-all{
    width: 100%;

}
/* Setup Universal END -----------------------------------------------------------------------------------------------> */




/* NAVBAR SETTING -----------------------------------------------------------------------------------------------> */
.container-navbar{
    width: 80%;
    margin: auto;
}

.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.nav-title{

}

.nav-title a{
    text-decoration: none;
    color: black;
}

.nav-btn{

}

.nav-btn ul{
    display: flex;
    list-style: none;
}

.nav-btn ul li{
    margin-left: 40px;
}

.nav-btn ul li a{
    color: black;
    text-decoration: none;
}

.nav-btn ul li a:hover{
    color: red;
    transition: ease-in 0.15s;
}

.searchbar{
    display: flex;
}

.searchbar form{
    background-color: #ffffff;
}

.searchbar form input{
    flex: 1;
    font-size: 13px;
    height: 30px;
    width: 325px;
    padding-left: 20px;
    border: 2.5px solid rgb(226, 171, 43);

}

.searchbar form button{
    font-size: 14px;
    color: rgb(255, 255, 255);
    background-color: rgb(226, 171, 43);
    width: 50px;
    height: 39px;
    cursor: pointer;
}

.login-register{

}

.login-register a{
    color: black;
    text-decoration: none;
    margin-right: 20px;
}

.login-register a:hover{
    color: red;
    transition: ease-in 0.15s;
}

.login-register button{
    font-size: 14px;
    color: rgb(255, 255, 255);
    background-color: rgb(7, 72, 236);
    width: 100px;
    height: 40px;
    border-radius: 10px;
    cursor: pointer;
}
/* NAVBAR SETTING END -----------------------------------------------------------------------------------------------> */

/* CATEGORY MENU -----------------------------------------------------------------------------------------------> */
.category-menu{
    display: flex;
    margin-left: auto;
    width: 92%;
}

.dropdown{
    min-width: 15em;
    position: relative;
    margin: 2em;
}

.dropdown *{
    box-sizing: border-box;
}

.select{
    background: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 2px #e0ac1c solid;
    border-radius: 0.5em;
    padding: 1em;
    cursor: pointer;
    transition: background 0.3s;

}

.select-clicked{
    border: 2px gray solid;
    box-shadow: 0 0 0.8em gray;
}

.select:hover{
    background: #e0e1e4;
}

.caret{
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 6px solid #000000;
    transition: 0.3s;
}

.caret-rotate{
    transform: rotate(180deg);
}

.menu{
    list-style: none;
    padding: 0.2em 0.5em;
    background: #323741;
    border: 1px #363a43;
    box-shadow: 0 0.5em 1em rgba(0, 0, 0, 0.2);
    border-radius: 0.5em;
    color: #9fa5b5;
    position: absolute;
    top: 3em;
    left: 50%;
    width: 100%;
    transform: translateX(-50%);
    opacity: 0;
    display: none;
    transition: 0.2s;
    z-index: 1;
}

.menu li{
    padding: 0.7em 0.5em;
    margin: 0.3em 0;
    border-radius: 0.5em;
    cursor: pointer;
}

.menu li a{
    text-decoration: none;
    color: white;
}

.menu li:hover{
    background-color: #2a2d35;
}

.active{
    background-color: #23242a;
}

.menu-open{
    display: block;
    opacity: 1;
}

/* CATEGORY MENU END -----------------------------------------------------------------------------------------------> */


/* LAYER 1 -----------------------------------------------------------------------------------------------> */

.container-content{
    width: 80%;
    margin: auto;
    margin-top: 50px;
}

.layer-1{
   display: flex;
   align-items: center;
   justify-content: space-between;
}

.layer-1 h1 {
    color: rgb(217, 160, 28);
    font-size: 55px;
    margin: 5px 0px 5px 0px;
}

.layer-1 h5 {
    color: rgb(35, 34, 34);
    font-size: 16px;
    font-weight: 1000;
}

.layer-1 button{
    color: rgb(255, 255, 255);
    font-size: 17px;
    width: 250px;
    height: 70px;
    background-color: rgb(7, 72, 236);
    border-radius: 10px;
    margin-top: 20px;
    cursor: pointer;
}

.layer-1 img{
    width: 650px;
    height: 650px;
}

.layer1-right{
    margin-left: 40px;
}

/* LAYER 1 END -----------------------------------------------------------------------------------------------> */



/* LAYER 2-----------------------------------------------------------------------------------------------> */


.layer-2{
    display: grid;
    justify-content: center;
    margin-top: 225px;
    text-align: center;
    background-color: rgb(253, 253, 253);
    padding-bottom: 50px;
}

.layer2-top{

}

.layer2-top h1{
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: rgb(226, 171, 43);
    border-radius: 30px;
    text-transform: uppercase;
}

.layer-2 h1{
    font-size: 25px;
    color:black;
    font-weight: 700;
}

.layer-2 h5{
    font-size: 15px;
    color: rgb(59, 58, 58) ;
    display: none;
}

.layer-2 p{
    font-size: 15px;
    margin: 0 40px 0 40px;
}

.layer2-bottom{
    display: flex;
    align-items: center;
    justify-self: center;
}

.layer-2 button{
    background-color: white;
    border: 5px solid rgb(226, 171, 43);
    border-radius: 200px;
    width: 175px;
    height: 175px;
    margin: 60px 30px 0px 30px;
    cursor: pointer;
    transition: 0.5s;
}

.layer-2 button:hover{
    transform: translateY(-15px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}



.layer-2 button img{
    width: 100px;
    height: 100px;
}


/* LAYER 2 END -----------------------------------------------------------------------------------------------> */



/* LAYER 3 ---------------------------------------------------------------------------------------------------> */

.layer-3-container{
    display: grid;
    place-items: center;
}

.layer-3{
    width: 80vw;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-top: 75px;
    background-color: rgb(253, 253, 253);
    padding-bottom: 15px;

}

.line h4{
    width: 100%;
    height: 5px;
    background-color: rgb(226, 171, 43);
}

.layer3-title{
    width: 100%;
    text-align: center;
    background-color: rgb(226, 171, 43);
    border-radius: 10px;
}

.layer3-title h1{
    font-size: 17px;
    text-transform: uppercase;
    color: black;
}

.layer3-content{
    width: 100%;
    height: 70%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 40px;
    margin-top: 50px;
}

.layer3-content .product{
    position: relative;
    background-color: white;
    width: 350px;
    height: 100%;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px 20px 40px;
    border-radius: 10px;
    transition: 0.3s;
}

.layer3-content .product:hover{
    transform: translateY(-15px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.layer3-content .product img{
    width: 350px;
    height: 230px;
}

.layer3-content .product .name-price{

}

.layer3-content .product .name-price h3{
    color: gray;
    font-size: 17px;
    font-weight: 100;
    display: flex;
    justify-content: space-between;
}

.layer3-content .product .name-price h1{
    font-size: 35px;
    margin-top: -10px;
    font-weight: 1000;
    color: rgb(226, 171, 43);

}


.layer3-content .product .year{
    font-weight: -190;
    color: rgb(0, 0, 0);
    margin-top: -30px;
    font-size: 15px;
}

.layer3-content .product .fasilitas h4{

}

.layer3-content .product .fasilitas ul li p{
   font-size: 12px;
}

.layer3-content .buy{
    position: absolute;
    bottom: 20px;
    right: 20px;
}

.layer3-content .buy button{
    padding: 10px 20px;
    border-radius: 7px;
    background-color: rgb(226, 171, 43);
    color: black;
    font-size: 11px;
    cursor: pointer;
    transition: 0.5s;
}

.layer3-content .buy button:hover{
    transform: scale(1.1);
}

.layer4-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}

.layer4-btn button{
    padding: 10px 20px;
    border-radius: 7px;
    background-color: rgb(7, 72, 236);
    color: white;
    font-size: 14px;
    cursor: pointer;
    transition: 0.5s;
}



/* LAYER 3 END ---------------------------------------------------------------------------------------------------> */




/* LAYER 4 -----------------------------------------------------------------------------------------------> */

.layer-4-container{
    display: grid;
    place-items: center;
}

.layer-4{
    width: 80vw;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-top: 75px;
    background-color: rgb(253, 253, 253);
    padding-bottom: 15px;

}

.line h4{
    width: 100%;
    height: 5px;
    background-color: rgb(226, 171, 43);
}

.layer4-title{
    width: 100%;
    text-align: center;
    background-color: rgb(226, 171, 43);
    border-radius: 10px;
}

.layer4-title h1{
    font-size: 17px;
    text-transform: uppercase;
    color: black;
}

.layer4-content{
    width: 100%;
    height: 70%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 50px;
}

.layer4-content .product{
    position: relative;
    background-color: white;
    width: 200px;
    height: 100%;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px 20px 40px;
    border-radius: 10px;
    transition: 0.3s;
}

.layer4-content .product:hover{
    transform: translateY(-15px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.layer4-content .product img{
    width: 200px;
    height: 175px;
}

.layer4-content .name-price{

}

.layer4-content .name-price h3{
    color: gray;
    font-size: 12px;
    font-weight: 100;
    display: flex;
    justify-content: space-between;
}

.layer4-content .name-price h1{
    font-size: 20px;
    margin-top: -10px;

}

.layer4-content .year{
    font-weight: -190;
    color: rgb(0, 0, 0);
    margin-top: -30px;
    font-size: 15px;
}

.layer4-content .buy{
    position: absolute;
    bottom: 20px;
    right: 20px;
}

.layer4-content .buy button{
    padding: 10px 20px;
    border-radius: 7px;
    background-color: rgb(226, 171, 43);
    color: black;
    font-size: 11px;
    cursor: pointer;
    transition: 0.5s;
}

.buy button:hover{
    transform: scale(1.1);
}

.layer4-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}

.layer4-btn button{
    padding: 10px 20px;
    border-radius: 7px;
    background-color: rgb(7, 72, 236);
    color: white;
    font-size: 14px;
    cursor: pointer;
    transition: 0.5s;
}

/* FOOTER -----------------------------------------------------------------------------------------------> */

/* The footer is fixed to the bottom of the page */

footer {
    /* position: fixed; */
    bottom: 0;
}

@media (max-height:800px) {
    footer {
        /* position: static; */
    }
    header {
        padding-top: 40px;
    }
}

.footer-container {
    background-color: #2d2a30;
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    font: bold 16px sans-serif;
    padding: 50px 50px 60px 50px;
    margin-top: 80px;
}

.footer-container .footer-left, .footer-container .footer-center, .footer-container .footer-right {
    display: inline-block;
    vertical-align: top;
}

/* Footer left */

.footer-container .footer-left {
    width: 30%;
}

.footer-container h3 {
    color: #ffffff;
    font: normal 36px 'Cookie', cursive;
    margin: 0;
}


.footer-container h3 span {
    color: #e0ac1c;
}

/* Footer links */

.footer-container .footer-links {
    color: #ffffff;
    margin: 20px 0 12px;
}

.footer-container .footer-links a {
    display: inline-block;
    line-height: 1.8;
    text-decoration: none;
    color: inherit;
}

.footer-container .footer-company-name {
    color: #8f9296;
    font-size: 14px;
    font-weight: normal;
    margin: 0;
}

/* Footer Center */

.footer-container .footer-center {
    width: 35%;
}

.footer-container .footer-center i {
    background-color: #33383b;
    color: #ffffff;
    font-size: 25px;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    text-align: center;
    line-height: 42px;
    margin: 10px 15px;
    vertical-align: middle;
}

.footer-container .footer-center i.fa-envelope {
    font-size: 17px;
    line-height: 38px;
}

.footer-container .footer-center p {
    display: inline-block;
    color: #ffffff;
    vertical-align: middle;
    margin: 0;
    font-size: 12px;
}

.footer-container .footer-center p span {
    display: block;
    font-weight: normal;
    font-size: 12px;
    line-height: 2;
}

.footer-container .footer-center p a {
    color: #e0ac1c;
    text-decoration: none;
    ;
}

/* Footer Right */

.footer-container .footer-right {
    width: 30%;
}

.footer-container .footer-company-about {
    line-height: 20px;
    color: #92999f;
    font-size: 13px;
    font-weight: normal;
    margin: 0;
}

.footer-container .footer-company-about span {
    display: block;
    color: #ffffff;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px;
}

.footer-container .footer-icons {
    margin-top: 25px;
}

.footer-container .footer-icons a {
    display: inline-block;
    width: 35px;
    height: 35px;
    cursor: pointer;
    background-color: #33383b;
    border-radius: 2px;
    font-size: 20px;
    color: #ffffff;
    text-align: center;
    line-height: 35px;
    margin-right: 3px;
    margin-bottom: 5px;
}

.footer-container .footer-icons a:hover {
    background-color: #3F71EA;
}

.footer-links a:hover {
    color: #3F71EA;
}



/* FOOTER END -----------------------------------------------------------------------------------------------> */

@media (max-width: 880px) {
    .footer-container .footer-left, .footer-container .footer-center, .footer-container .footer-right {
        display: block;
        width: 100%;
        margin-bottom: 40px;
        text-align: center;
    }
    .footer-container .footer-center i {
        margin-left: 0;
    }
}
